*{
    padding: 0;
    margin: 0;
}

html{
    background: linear-gradient(#4A90E2, #294F7C);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    width: 100%;
}

.title-page {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 2rem;
    font-family: "Kodchasan", sans-serif;
    color: #FFFFFF;
}

.title-page h1 {
    font-size: 2rem;
    font-weight: 200;
    text-align: left;
}

.title-page h2 {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    margin: 0 auto; 
}

.exib_times{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: "Kantumruy Pro", sans-serif;
    color: #4A90E2;
    background-color: #CADFF8;
    width: 20rem;
    height: auto;
    border-radius: 0 30px 30px 0;
    padding: 1rem;
}

.list{
    padding: 1rem;
}

.list li{
    list-style: none;
}

.list ul {
    list-style-type: none;
    padding: 0;
}

.list ul li {
    /* border: 1px solid #4a90e2; */
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.list ul li:hover {
    background-color: #4A90E2;
    font-size: 18px;
    font-weight: bold;
    color: #f9f9f9;
}

.list ul li.active {
    font-size: px;
    font-weight: bold;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.box_time table {
    width: 30rem;
    border-collapse: collapse; /* Remove espaçamento entre bordas */
    margin: 2rem auto; /* Centraliza a tabela */
    background-color: #fff; /* Fundo branco para contraste */
    border-radius: 8px; /* Bordas arredondadas */
    overflow: hidden; /* Impede bordas estourarem */
}

.box_time th, .box_time td {
    text-align: center; /* Centraliza texto */
    padding: 1rem; /* Espaçamento interno */
    font-family: "Kantumruy Pro", sans-serif; /* Estilo consistente */
    color: #294F7C; /* Cor do texto */
}

.box_time th {
    background-color: #4A90E2; /* Cor de fundo do cabeçalho */
    color: #fff; /* Texto branco */
    font-weight: 500;
}

.box_time tr:nth-child(even) {
    background-color: #f9f9f9; /* Fundo alternado para linhas pares */
}

.box_time h3{
    font-family: "Kantumruy Pro", sans-serif; /* Estilo consistente */
    color: #fff; /* Cor do texto */
    font-weight: 300 ;
}

.btn, .btn-pop{
    font-family: "Kantumruy Pro", sans-serif; /* Estilo consistente */

    border: none;
    background-color: #4a90e2;
    padding: 1dvh 2rem 1dvh 2rem;
    border-radius: 30px;
    color: #fff;
    width: 15rem;
    cursor: pointer;
    
    transition: transform 0.2s;
}

.btn:hover, .btn-pop:hover, #btn-add-time:hover{
    background: #4A90E2;
    border: #4A90E2 solid 2px;
    transform: scale(1.1);  
    color: #CADFF8;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    gap: 1rem;
}

#meuGrafico{
    scale: 0.5;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    border-radius: 30px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

#btn-add-time {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 100; 

    font-family: "Kantumruy Pro", sans-serif; 
    
    border: none;
    background-color: #4a90e2;
    padding: 1dvh 2rem 1dvh 2rem;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;

    transition: transform 0.2s;
}
